# Dependências
node_modules/

# Builds
dist/
build/

# Variáveis de ambiente
.env
.env.local
.env.production

# Arquivos temporários e zips
*.zip
*.log

# Pastas legadas e desnecessárias
fonts_google/
docs/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/